@use 'src/styles/constants';
@use 'src/styles/breakpoints';

// Work

.work {
  background: none;
}

.box {
  background: constants.$color-dark;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;

  & > * {
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 400px;
    padding: constants.$box-padding-large;

    @include breakpoints.xsmall {
      min-width: 250px;
      padding: constants.$box-padding-small;
    }
  }
}
