@use 'src/styles/constants';
@use 'src/styles/breakpoints';
@use 'sass:color';

// PillButton

.pill {
  display: inline-block;
  border-radius: 3em;
  padding: 2.1em 3.5em;
  background: transparent;
  color: constants.$text-color-primary;
  border: 1px solid black;
  cursor: pointer;
  transition: all constants.$transition-duration-slow ease;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: constants.$button-letter-spacing;
  align-self: baseline;

  @include breakpoints.xsmall {
    align-self: stretch;
  }

  &:hover {
    background: color.adjust(constants.$color-dark, $alpha: -0.7);
    transition: all constants.$transition-duration-normal ease;
  }

  &.small {
    font-size: constants.$button-font-size-small;
  }

  &.large {
    font-size: constants.$button-font-size-large;
  }
}
