@use 'src/styles/constants';
@use 'sass:color';

// Home

.home {
  height: 100vh;
  display: flex;
  align-items: center;

  h1 {
    margin: 1em 0;
  }

  img {
    height: 5em;
  }

  a {
    text-decoration: none;
  }
}
